@mixin text-style {
    color: #8A6D4B;
    font-family: "Bodoni Moda", Helvetica, Arial, sans-serif;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin brown-btn {
    width: 16rem;
    height: 4rem;
    margin-top: $margin-m;
    background: $bg-color;
    border: 1px solid $font-color-other;
    color: $font-color-other;
    font-family: $font-family-title;
    letter-spacing: $font-letter-spacing;
    cursor: pointer;
    transition: background .6s, color .2s ease-out;

    &:hover {
        background: linear-gradient(1deg, #8A6D4B, #dbc5ad);
        color: wheat;
    }
}

@mixin white-btn {
    width: 16rem;
    height: 4rem;
    background: $font-color-other;
    border: 1px solid $bg-color;
    color: $bg-color;
    font-family: $font-family-title;
    letter-spacing: $font-letter-spacing;
    cursor: pointer;
    transition: background .6s, color .2s ease-out;
    
    &:hover {
        background: linear-gradient(15deg, #dbc5ad, #8A6D4B);
        color: $font-color-other;
    }
}